In [281]:
import pandas as pd
import numpy as np

In [282]:
df = pd.read_pickle("./data/hr.pickle")

In [283]:
df.head()

,ts,name,faults
0,"[[0.000167964, -5.34659e-05, 1.28447e-05, 9.03...",9.1120 C Hot Water Pump,"[[BearingFault, motor], [XC, machine], [Bearin..."
1,"[[0.009780156, 0.014624815, 0.019440233, 0.020...",Air RecFan 1.12302,"[[Looseness, machine], [Misalignment, machine]..."
2,"[[0.001560547, 0.001073043, -2.44838e-05, -0.0...",Air RecFan 1.12302,"[[Looseness, machine], [Misalignment, machine]..."
3,"[[-0.002804407, -0.001306111, 0.001502491, 0.0...",Air RecFan 1.12402A,"[[Looseness, machine], [Misalignment, machine]..."
4,"[[0.000500389, 0.00026631, -6.22153e-05, -0.00...",Vacuum Pump 5.1302,"[[Misalignment, machine], [Looseness, machine]..."

In [284]:
# 1

In [285]:
# check if there is any NaN values in the df
for i, ts in enumerate(df["ts"]):
    if np.isnan(ts).any():
        print(i, " has NaN values")

1  has NaN values
2  has NaN values
3  has NaN values
4  has NaN values
5  has NaN values
6  has NaN values
7  has NaN values
8  has NaN values
9  has NaN values
10  has NaN values
11  has NaN values
12  has NaN values
13  has NaN values
14  has NaN values
15  has NaN values
16  has NaN values
17  has NaN values
18  has NaN values
19  has NaN values
20  has NaN values
21  has NaN values
22  has NaN values
26  has NaN values
28  has NaN values
29  has NaN values
30  has NaN values
34  has NaN values
35  has NaN values
36  has NaN values
37  has NaN values
39  has NaN values
40  has NaN values
41  has NaN values
44  has NaN values
46  has NaN values
47  has NaN values
48  has NaN values
53  has NaN values
54  has NaN values
55  has NaN values
59  has NaN values
60  has NaN values
61  has NaN values
62  has NaN values
63  has NaN values
64  has NaN values
76  has NaN values
83  has NaN values

In [286]:
# shape before purging NaN values
np.shape(df["ts"][1])

(12, 4096)

In [287]:
def ts_without_NaN(ts):
    new_ts = []
    for value in ts:
        if not np.isnan(value):
            new_ts.append(value)
    return new_ts

In [288]:
df["ts"] = df["ts"].apply(lambda x: [ts_without_NaN(ts) for ts in x])

In [289]:
# check if there is any NaN values in the df
for i, ts in enumerate(df["ts"]):
    if np.isnan(ts).any():
        print(i, " has NaN values")

In [290]:
# 2

In [291]:
#  its shape after
np.shape(df["ts"][1])

(12, 2048)

In [292]:
# 3

In [293]:
df["shape"] = df["ts"].apply(lambda x: np.shape(x))

In [294]:
# 4

In [295]:
def new_df_of_shape(length):
    return df[df["shape"] == (12, length)]

In [296]:
new = new_df_of_shape(2048)

In [297]:
new.head()

,ts,name,faults,shape
1,"[[0.009780156, 0.014624815, 0.019440233, 0.020...",Air RecFan 1.12302,"[[Looseness, machine], [Misalignment, machine]...","(12, 2048)"
2,"[[0.001560547, 0.001073043, -2.44838e-05, -0.0...",Air RecFan 1.12302,"[[Looseness, machine], [Misalignment, machine]...","(12, 2048)"
3,"[[-0.002804407, -0.001306111, 0.001502491, 0.0...",Air RecFan 1.12402A,"[[Looseness, machine], [Misalignment, machine]...","(12, 2048)"
4,"[[0.000500389, 0.00026631, -6.22153e-05, -0.00...",Vacuum Pump 5.1302,"[[Misalignment, machine], [Looseness, machine]...","(12, 2048)"
5,"[[-0.005351429, -0.004372852, -0.003231866, -0...",Main Fan B(F-005B),"[[Misalignment, machine], [Looseness, machine]...","(12, 2048)"

In [298]:
# 5

In [299]:
faults_count = df["faults"].explode().value_counts().reset_index()
faults_count.head()

                    faults  count
0  [Misalignment, machine]    222
1          [Flow, machine]     90
2  [BearingFault, machine]     72
3    [BearingFault, motor]     68
4           [LXC, machine]     56

In [300]:
def fault_info(fault):
    indices = [
        v[0]
        for i, v in enumerate(faults_count.iterrows())
        if fault in faults_count["faults"][i]
    ]
    if faults_count.iloc[indices[1]].iloc[0][1] == "motor":
        motor_count = faults_count.iloc[indices[1]].iloc[1]
        machine_count = faults_count.iloc[indices[0]].iloc[1]
    else:
        motor_count = faults_count.iloc[indices[0]].iloc[1]
        machine_count = faults_count.iloc[indices[1]].iloc[1]
    dict = {
        "Fault name": [fault],
        "Total count": [motor_count + machine_count],
        "Total count in motor": [motor_count],
        "Total count in machine": [machine_count],
    }
    df = pd.DataFrame(dict)
    display(df)

In [301]:
fault_info("LXC")

  Fault name  Total count  Total count in motor  Total count in machine
0        LXC           68                    12                      56